.popup-container-calendar {
  padding: 10px 20px;
  min-height: 500px;
  min-width: 450px;
}

.complete-day {
  color: rgb(80, 172, 80);
}

.incomplete-day {
  color: rgb(212, 11, 11);
}

.null-day {
  color: black;
}

#completed-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  margin-top: 5px;
  max-height: 350px;
  overflow-y: auto;
}

